<a href="https://colab.research.google.com/github/dSymon87/PSMDSRC103_2425/blob/main/Assignment_1_1_Practice_Set_2_Indexing__and_Slicing_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 1.1 Practice Set 2, Indexing and Slicing using Python

### 1. Type the expressions below, and try to explain what's happening in each case.

In [19]:
2 ** 16 # it is the based raise exponent, "**"" base multiply itself by exponent times

2 / 5, 2 / 5.0 #float division returns the quotients and different from floor "//" returns closest integer

"spam" + "eggs" # concantenating strings, added in series

S = "ham" # assigning  value "ham" to S

"eggs " + S #concantenating string to the variable S

S*5 #multiplication of string

S[:0] #slicing "ham" with [:0], it takes slice of the string from start and before start of the string, so output became empty string "".

"green %s and %s" % ("eggs", S) #python string formating %("eggs", S) S=ham, replaces the value of %s in the original string.

'green eggs and ham'

In [26]:
('x',) [0] #this is a single element tuple, folowed by indexing[0], returns the first index of the string. if ", does not exist it will became string.

('x', 'y') [1] #this is a 2 element tuple, folowed by indexing, returns the first index of the string.

'x'

In [4]:
L = [1,2,3] + [4,5,6] # Concantonate List result [1, 2, 3, 4, 5, 6]

L # calling variable L which returns all the listed items
L[:] #empty slice, returns all the the listed items, goes to preset value start and end of the list
L[:0] # same case with the previous example, with [:0], it takes slice of the string from start and before start of the string, so output became empty string "".
L[-2] # get the value of 2nd to the last value of the list. in this case is 5
L[-2:] #slice the list from the start values -2 which is 2nd to the last value, and with the end value of blank goes to the preset value which is the end.

([1,2,3] + [4,5,6]) [2:4] # concantonate list ([1,2,3] + [4,5,6]), and slice the value [2:4] exclusive,

[L[2], L[3]] #index the list [2] returns 3 and  [3] returns 4, count based on zero index of python

L.reverse(); L #built-in function reverse the arrangement of list, L is to call the list

L.sort(); L #Built-in function sort the arrangement of the list, L is to call the list again

L.index(4){'a':1, 'b':2} ['b'] #SyntaxError: invalid syntax, its combining list and dictionaries.
L.index(4),{'a':1, 'b':2} ['b'] # if we seperated it, results is (3,2) where 3 is the value of the 4 index in the list and 2 is the value of b from the dictionary.

(3, 2)

In [26]:
D = {'x':1, 'y':2, 'z':3}  # it is 3 value dictionary assign to the Value D
print(D)

D['w'] = 0 #added key "w" wtih the value of 0 to the dictionary D
print(D)

D['x'] + D['w'] #calling 'x' and 'w' with the value 1 and 0, resulting in 1


D[(1,2,3)] = 4 #asign a key list to the key with value of 4
print(D)

D.keys() #get the keys from the dictionary D
D.values() #get the value from th dictionar D
D.has_key((1,2,3)) [[]], #AttributeError: 'dict' object has no attribute 'has_key', remove from python 3.++,


["", [], {}, None] #blank string, list, dictionaries and None

['', [], {}, None]

### 2. Define a list named L that contains four strings or numbers. Experiment with the following boundary cases.

In [41]:
L = ["M", "A", "R", "K"]
print(L)

# Attempt to index out of bounds. (Ex. L[66])
L[66] # result in index error because it is out of range.
len(L) # it is only 4

#Attempt to slice out of bounds. (Ex. L[-9999:100])
L[-9999:100] # not out of bound because slicing from -9999 is the last slice and end with 100. so it captures all the list
L[5:7] # out of bound slicing will result in blank list

#Try extracting a sequence in reverse. Make the lower bound higher than the upper bound (Ex. L[3:1]). Attempt to perform L[3:1] = ['?']. Explain the output.
L[3:1] #return blank value [], forward slice cannot find valid range to slice, should have start and end, it is like window looking in the list.

[]

### 3. Define another list L, perform the following and use comments to explain:

In [59]:
L = [1, 2, 3, 4, 5, 6,]
print(L)

# Assign a list as one of its elements.
L[5] = L # assing list to 5th element of the list resulting in list within the list
print(L)

# Assign an empty list to a range.
L[0:1] = [] #the value of the list is deleted, useful for deleting range in the list
print(L)


# Delete an item in your list using the del statement.
del L[2] # deleted 3rd element in the updated list, which is 4
print(L)

# Delete an entire range from your list.
L[0:len(L)] = [] # deleted entire range start from 0index to the last which i used length of the list L.
print(L)

# Assign a non-sequence value to a slice.
L[0:5]="M" #cannot assign non sequence value of the slice since it replaces the original sequence, if many "M" in the list it cannot be iterated over in a for loop
print(L)

['M']

### 4. Create a dictionary named D with three entries, for keys a, b, and c

In [64]:
D = {'a':1, 'b':2, 'c':3}
print(D)

#What happens if you try to index a nonexistent key d (D[‘d’])?
D['d'] # result in KeyError: 'd', python search for d key in the dictionary which is non-existing

#What does python do if you try to assign to a nonexistent key?
D['d'] =1 # it is added to the dictionary when you add to a non-existing key, and replace it when it is existing
print(D)

#Compare this to out of bounds assignments.
# - out of bound assignment in the list will result to blank result, while the dictionary does not apply to this becauase it should have a key assign.

{'a': {...}, 'b': 2, 'c': 3, 'd': 1}

### 5. Run tests to answer the following questions:

In [112]:
# What happens when you try to use the + operator on different/mixed types?

[1,2,3] + [4,5,6]         # list   - it concatenate the list to other list
5+5                       # number - it adds the number to the number
(1,2,3) + (3,4,5)         # tuple   - it add tuple to other tuple.
'Mark'+'Jasmin'           # string - concatenate string to other string
{'a':1, 'b':2} + {'c':3}  # TypeError: unsupported operand type(s) for +: 'dict' and 'dict'
(1,2,3)+'Jasmin'          # TypeError: can only concatenate tuple (not "str") to tuple
(1,2,3) + [4,5,6]         # TypeError: can only concatenate tuple (not "list") to tuple
[1,2,3] + "Mark"          # TypeError: can only concatenate list (not "str") to list


#Does + work if one of the operands is a dictionary?
{'a':1, 'b':2} + {'c':3}  # TypeError: unsupported operand type(s) for +: 'dict' and 'dict'
{'a':1, 'b':2} + [4,5,6]  # TypeError: unsupported operand type(s) for +: 'dict' and 'list'
{'a':1, 'b':2} + (3,4,5)  # TypeError: unsupported operand type(s) for +: 'dict' and 'tuple'


#Try list.append() (use an actual list you created). Does the append() method work for both lists and strings?
L = [1,2,3,4,5,6] #yes it work, list can be string, number or list inside list
L.append("MarK")
L.append(L)
print(L)


#Try concatenating (+) two lists or strings, what happens?
[1,2,3] + [4,5,6]    #this works for concatenating
'Mark'+'Jasmin'     #this works for concatenating
[1,2,3] + "Mark"    # TypeError: can only concatenate list (not "str") to list

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### 6. Define a string S of four characters. Then type the following expression: S[0] [0] [0] [0]. Explain what is happening.

In [95]:
S ="MARK"
S[0] [0] [0] [0] # result is M as it search only the first index [0], next [0] search inside the first index "M". string is single dimension it results only in the first character result

# Try
L =[1,2,3]
L1 = [4,5,6]
L2 = [7,8,9]
L[0] = L1
L1[0] = L2

print(L)
print(L[0][0][2]) #this result will be 9, cause it search is from the list with in the list whithin the list

9

### 7. Define a string S of 4 characters again: S = “spam”. Write an assignment that changes the string to “slam”, using only slicing and concatenation. Does it work? Try index assignment.

In [111]:
# this is will result in TypeError: 'str' object does not support item assignment
S = "spam"
S[1] = "l"
print(S)

# instead Slice "S" add 'l' and slice "am"
S = "spam"
S = S[0] + "l" + S[2:4]
print(S)

slam